taller-webapp/src/main/java/LoginAPIHelper.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://wtp" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wtp">
<wsdl:documentation>Please Type your service description here</wsdl:documentation>
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wtp">
<xs:element name="changePassword">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="changePasswordResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="resetPassword">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="resetPasswordResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="disableAccount">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="disableAccountResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="enableAccount">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="enableAccountResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="login">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="loginResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="logout">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="logoutResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="isTokenValid">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="isTokenValidResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="activateUser">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="activateUserResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="registerUser">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="padron" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="rol" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="registerUserResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="logoutRequest">
<wsdl:part name="parameters" element="ns:logout"/>
</wsdl:message>
<wsdl:message name="logoutResponse">
<wsdl:part name="parameters" element="ns:logoutResponse"/>
</wsdl:message>
<wsdl:message name="activateUserRequest">
<wsdl:part name="parameters" element="ns:activateUser"/>
</wsdl:message>
<wsdl:message name="activateUserResponse">
<wsdl:part name="parameters" element="ns:activateUserResponse"/>
</wsdl:message>
<wsdl:message name="enableAccountRequest">
<wsdl:part name="parameters" element="ns:enableAccount"/>
</wsdl:message>
<wsdl:message name="enableAccountResponse">
<wsdl:part name="parameters" element="ns:enableAccountResponse"/>
</wsdl:message>
<wsdl:message name="changePasswordRequest">
<wsdl:part name="parameters" element="ns:changePassword"/>
</wsdl:message>
<wsdl:message name="changePasswordResponse">
<wsdl:part name="parameters" element="ns:changePasswordResponse"/>
</wsdl:message>
<wsdl:message name="isTokenValidRequest">
<wsdl:part name="parameters" element="ns:isTokenValid"/>
</wsdl:message>
<wsdl:message name="isTokenValidResponse">
<wsdl:part name="parameters" element="ns:isTokenValidResponse"/>
</wsdl:message>
<wsdl:message name="disableAccountRequest">
<wsdl:part name="parameters" element="ns:disableAccount"/>
</wsdl:message>
<wsdl:message name="disableAccountResponse">
<wsdl:part name="parameters" element="ns:disableAccountResponse"/>
</wsdl:message>
<wsdl:message name="loginRequest">
<wsdl:part name="parameters" element="ns:login"/>
</wsdl:message>
<wsdl:message name="loginResponse">
<wsdl:part name="parameters" element="ns:loginResponse"/>
</wsdl:message>
<wsdl:message name="resetPasswordRequest">
<wsdl:part name="parameters" element="ns:resetPassword"/>
</wsdl:message>
<wsdl:message name="resetPasswordResponse">
<wsdl:part name="parameters" element="ns:resetPasswordResponse"/>
</wsdl:message>
<wsdl:message name="registerUserRequest">
<wsdl:part name="parameters" element="ns:registerUser"/>
</wsdl:message>
<wsdl:message name="registerUserResponse">
<wsdl:part name="parameters" element="ns:registerUserResponse"/>
</wsdl:message>
<wsdl:portType name="LoginAPIHelperPortType">
<wsdl:operation name="logout">
<wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout"/>
<wsdl:output message="ns:logoutResponse" wsaw:Action="urn:logoutResponse"/>
</wsdl:operation>
<wsdl:operation name="activateUser">
<wsdl:input message="ns:activateUserRequest" wsaw:Action="urn:activateUser"/>
<wsdl:output message="ns:activateUserResponse" wsaw:Action="urn:activateUserResponse"/>
</wsdl:operation>
<wsdl:operation name="enableAccount">
<wsdl:input message="ns:enableAccountRequest" wsaw:Action="urn:enableAccount"/>
<wsdl:output message="ns:enableAccountResponse" wsaw:Action="urn:enableAccountResponse"/>
</wsdl:operation>
<wsdl:operation name="changePassword">
<wsdl:input message="ns:changePasswordRequest" wsaw:Action="urn:changePassword"/>
<wsdl:output message="ns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
</wsdl:operation>
<wsdl:operation name="isTokenValid">
<wsdl:input message="ns:isTokenValidRequest" wsaw:Action="urn:isTokenValid"/>
<wsdl:output message="ns:isTokenValidResponse" wsaw:Action="urn:isTokenValidResponse"/>
</wsdl:operation>
<wsdl:operation name="disableAccount">
<wsdl:input message="ns:disableAccountRequest" wsaw:Action="urn:disableAccount"/>
<wsdl:output message="ns:disableAccountResponse" wsaw:Action="urn:disableAccountResponse"/>
</wsdl:operation>
<wsdl:operation name="login">
<wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
<wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
</wsdl:operation>
<wsdl:operation name="resetPassword">
<wsdl:input message="ns:resetPasswordRequest" wsaw:Action="urn:resetPassword"/>
<wsdl:output message="ns:resetPasswordResponse" wsaw:Action="urn:resetPasswordResponse"/>
</wsdl:operation>
<wsdl:operation name="registerUser">
<wsdl:input message="ns:registerUserRequest" wsaw:Action="urn:registerUser"/>
<wsdl:output message="ns:registerUserResponse" wsaw:Action="urn:registerUserResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LoginAPIHelperSoap11Binding" type="ns:LoginAPIHelperPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="logout">
<soap:operation soapAction="urn:logout" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="activateUser">
<soap:operation soapAction="urn:activateUser" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="changePassword">
<soap:operation soapAction="urn:changePassword" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="enableAccount">
<soap:operation soapAction="urn:enableAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="isTokenValid">
<soap:operation soapAction="urn:isTokenValid" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="disableAccount">
<soap:operation soapAction="urn:disableAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="login">
<soap:operation soapAction="urn:login" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="resetPassword">
<soap:operation soapAction="urn:resetPassword" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registerUser">
<soap:operation soapAction="urn:registerUser" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LoginAPIHelperSoap12Binding" type="ns:LoginAPIHelperPortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="logout">
<soap12:operation soapAction="urn:logout" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="activateUser">
<soap12:operation soapAction="urn:activateUser" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="changePassword">
<soap12:operation soapAction="urn:changePassword" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="enableAccount">
<soap12:operation soapAction="urn:enableAccount" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="isTokenValid">
<soap12:operation soapAction="urn:isTokenValid" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="disableAccount">
<soap12:operation soapAction="urn:disableAccount" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="login">
<soap12:operation soapAction="urn:login" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="resetPassword">
<soap12:operation soapAction="urn:resetPassword" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registerUser">
<soap12:operation soapAction="urn:registerUser" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LoginAPIHelperHttpBinding" type="ns:LoginAPIHelperPortType">
<http:binding verb="POST"/>
<wsdl:operation name="logout">
<http:operation location="logout"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="activateUser">
<http:operation location="activateUser"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="changePassword">
<http:operation location="changePassword"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="enableAccount">
<http:operation location="enableAccount"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="isTokenValid">
<http:operation location="isTokenValid"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="disableAccount">
<http:operation location="disableAccount"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="login">
<http:operation location="login"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="resetPassword">
<http:operation location="resetPassword"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registerUser">
<http:operation location="registerUser"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LoginAPIHelper">
<wsdl:port name="LoginAPIHelperHttpSoap11Endpoint" binding="ns:LoginAPIHelperSoap11Binding">
<soap:address location="http://localhost:8080/SeguridadSesionAxisClient/services/LoginAPIHelper.LoginAPIHelperHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="LoginAPIHelperHttpSoap12Endpoint" binding="ns:LoginAPIHelperSoap12Binding">
<soap12:address location="http://localhost:8080/SeguridadSesionAxisClient/services/LoginAPIHelper.LoginAPIHelperHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="LoginAPIHelperHttpEndpoint" binding="ns:LoginAPIHelperHttpBinding">
<http:address location="http://localhost:8080/SeguridadSesionAxisClient/services/LoginAPIHelper.LoginAPIHelperHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>